


<mat-tab-group [selectedIndex]="1" mat-align-tabs="center"> 
    <mat-tab label="Albums">
        Albums
    </mat-tab>
    <mat-tab label="Songs">Songs
        <ul>
            <li *ngFor = "let song of songs" (click) = "openSong(song)"> 
                {{song.name}}
            </li>
        </ul>
    </mat-tab>
    <mat-tab label="Others">Others</mat-tab>
</mat-tab-group>



<div>
    <button (click)='play()'>play</button>
    <button (click)='pause()'>Pause</button>
    <button (click)='stop()'>stop</button>
</div>


<div>
    <span>{{currentTime}}</span>
    <input type="range" min="0" max="{{duration}}" [value]="seek" (input)="setSeek($event)">
    <span>{{duration}}</span>
</div>


<div>
    <label>Volume</label>
    <input type="range" min="0" max="1" step="0.01" value="0.2" (input)="setVolume($event)">
</div>
















<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.2.9/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>